{% extends 'home/base.html' %}
{% load static %}

{%block head%}
<title>Karting Grapher</title>
{%endblock%}

{%block body%}
<div class="container">
    <div id="home" class="flex-center flex-column">
        <h1>Karting Grapher</h1>
        <a class="btn-big" href="sessions/">Show sessions</a>
        <a class="btn-big" href="driver/">Show driver</a>
        <a class="btn-big" href="head_to_head/">Head to head</a>
        <a class="btn-big" href="kart/">Show karts</a>
        <a class="btn-big" href="new_time/">Plot data from a file</a>
    </div>
</div>
{%endblock%}