{% extends 'home/base.html' %}
{% load static %}

{%block head%}
<title>Sessions</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js" integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'scripts/karting_charter.js'%}"></script>
{%endblock%}

{%block body%}
<canvas id="myChart" height="auto vh">
    <!--get inflated with the char.js-->
</canvas>
<button type="button" > Test button</button>
<script>
    var data = {{sessions|safe}}
    console.log(data);
    //find the latest session, this will be rendered by default
    latest_session_index = get_latest_session_index(data);
    draw_laps_from_session(data,latest_session_index);
</script>

{%endblock%}