{% extends 'home/base.html' %}
{% load static %}

{%block head%}
<title>Sessions</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js" integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'scripts/karting_charter.js'%}"></script>
{%endblock%}

{%block body%}
<h2 id="session_info">Session info</h2>
<button onclick="hide_all_button_callback()">Hide All</button>
<button onclick="show_all_button_callback()">Show All</button>
<canvas id="myChart" height="auto vh">
    <!--get inflated with the char.js-->
</canvas>
<div id="session_buttons">
    <h2>Load different session</h2>
    <!--gets inflated as well-->
</div>
<script>
    var data = {{sessions|safe}}
    console.log(data);
    var wanted_session = {{wanted_session}};
    //find the latest session, this will be rendered by default
    if (wanted_session == -1){
        latest_session_index = get_latest_session_index(data);
        draw_laps_from_session(data,latest_session_index);
    }
    else{
        draw_laps_from_session(data,wanted_session);
    }
    inflate_session_buttons(data);
</script>

{%endblock%}