{% extends 'home/base.html' %}
{% load static %}


    
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notifier.css'%}"/>
<title>iBOOD</title>
<!-- for some reason I had to put the block in boxes.css if not it would be overwritten
and no block would be displayed at all
might be good coding practice ?? who knows... probably because of the browser cashe that wasn't properly loading-->
{% endblock %}
    
{% block body%}
<h1 style="font-size: 8rem;text-align: left;color: white;margin-top:0;">iBOOD Bot</h1>

<div class="container" style="align-items: flex-start;">
    <div id="main_flex" class="flex-center flex-column">

        <div id="pack_everything_together">
            <div class="top_bar">
                <h1 style="padding-right: 4rem;">E-mail recipients</h1>
                <button style="align-self:flex-end;" name="add" class="header_button" onclick="add_callback()">
                    <img style="background-color: red;" src="{% static 'sprites/add.svg' %}"></img>
                </button>
                <script>
                    function add_callback(){
                        document.querySelector('.background-modal').style.display = 'flex';
                    }
                </script>
            </div>
            <div class="block">
                {% for recipient in recipients %}
                <div name="{{recipient.id}}" class="recipient">
                    <h2 name="nameh2">{{recipient.name}}</h2>
                    <h2 name="mailh2">{{recipient.mail}}</h2>
                    <p hidden id="searches-of-{{recipient.id}}">{{recipient.searches}}</p>
                    <button class="symbol_button" name="preferences" value="{{recipient.id}}" onclick="pref_callback(this.value)">
                        <img src="{% static 'sprites/filter.svg' %}"></img>
                    </button>
                    <button class="symbol_button" name="edit" value="{{recipient.id}}" onclick="edit_callback(this.value)">
                        <img src="{% static 'sprites/edit.svg' %}"></img>
                    </button>
                    
                    <form method="post">
                        {% csrf_token %}
                        <button class="symbol_button" name="remove" value="{{recipient.id}}">
                            <img src="{% static 'sprites/delete.svg' %}"></img>
                        </button>
                    </form>
                </div>
                {% endfor %}
            </div>

        </div>

        
        
    </div>
</div>
<script>
    function edit_callback(target_id){
        document.querySelector('.background-edit').style.display = 'flex';
        //change the placeholders in the popup to match the current data of the recipient
        var target_div = document.querySelector('[name=\''+target_id+'\']');
        var name = target_div.querySelector('[name="nameh2"]').textContent;
        var mail = target_div.querySelector('[name="mailh2"]').textContent;

        var children = document.querySelector('.background-edit').querySelector('.edit-content').querySelectorAll('.modal-input');
        for(var i = 0; i < children.length; i++){
            var child = children[i];
            if(child.name == 'name_edit'){
                child.value = name;
            }
            else if(child.name == "mail_edit"){
                child.value = mail;
            }
            else if(child.name == "id"){
                child.value = target_id;
            }
        }

    }
    function update_preferences(caller_btn){
        console.log(caller_btn);
        if(caller_btn.id === "allowed-all-cb"){
            document.getElementById("allowed-none-cb").checked = !caller_btn.checked;
        }
        else{
            document.getElementById("allowed-all-cb").checked = !caller_btn.checked;
        }
    }

    function pref_callback(target_id){

        document.getElementById('search-window').style.display = 'flex';
        //need to inflate the searches in id = searches-to-inflate
        var parent_div = document.getElementById("search-injection-div");
        var json_var = document.getElementById("searches-of-"+String(target_id)).textContent;
        var searches = JSON.parse((json_var));
        console.log(searches);


        // document.getElementById('pref-window').style.display = 'flex';
        // var json_var = document.getElementById("preferences-of-"+String(target_id)).textContent;
        // var pref = JSON.parse((json_var));
        // var allowed = pref.allowed;
        // var exceptions = pref.exceptions;
        // const all_categories = {{categories|safe}};
        // inject_specific(all_categories,exceptions,"exception-specific");
        // tick_allowed(allowed);
        // //store correct recipient id in the html for later use
        // document.getElementById("preferences-id-hidden").value = target_id;
    }

    function tick_allowed(allowed){
        const allowed_all_cb = document.getElementById("allowed-all-cb");
        const allowed_none_cb = document.getElementById("allowed-none-cb");
        if (allowed === "all"){
            allowed_all_cb.checked = true;
            allowed_none_cb.checked = false;
        }
        else{
            allowed_all_cb.checked = false;
            allowed_none_cb.checked = true;
        }
    }

    function inject_specific(categories,fields_to_be_ticked,target_id){
        var specific_div = document.getElementById(target_id);
        for(let i = 0;i < categories.length;i ++){
            specific_div.appendChild(create_checkbox_field(categories[i],category_needs_to_be_ticked(categories[i],fields_to_be_ticked)));
        }
        
    }

    function category_needs_to_be_ticked(categorie,fields_to_be_ticked){
        for(let i = 0;i < fields_to_be_ticked.length;i ++){
            if(categorie === fields_to_be_ticked[i]){
                return true;
            }
        }
        return false;
    }

    function create_searches_field(filter_json){
        var searches_box = document.createElement("div");
        searches_box.setAttribute("class","recipient");
        var searches_name = document.createElement("h2");
        searches_name.value = "some text";
        searches_box.appendChild(searches_name);

    }

    function create_checkbox_field(category,to_be_ticked){
        var created_div = document.createElement("div");
        created_div.setAttribute("id",category);
        var created_label = document.createElement("label");
        created_label.setAttribute("for",category+"-cb");
        created_label.textContent = category;
        var created_cb = document.createElement("input");
        created_cb.setAttribute("type","checkbox");
        created_cb.setAttribute('name',category);
        created_cb.setAttribute("id",category+"-cb");
        created_cb.checked = to_be_ticked;
        created_div.appendChild(created_label);
        created_div.appendChild(created_cb);
        return created_div;
    }
</script>

{%endblock%}

{%block modal%}
<!-- Modal Section -->
<div class="background-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <script>
            document.querySelector('.close').addEventListener('click',
            function() {
                document.querySelector('.background-modal').style.display = 'none';
            });
        </script>
        <h3>Enter the new e-mail recipients data</h3>
        <form method="post">
            {% csrf_token %}
            <input class="modal-input" type="text" name="name" placeholder="Name" required>
            <input class="modal-input" type="text" name="mail" placeholder="e-mail adress" required>
            <input type="submit">
        </form>
    </div>
</div>

<div class="background-edit">
    <div class="edit-content">
        <div class="close">+</div>
        <script>
            document.querySelector('.background-edit').querySelector('.close').addEventListener('click',
            function() {
                console.log("clicked");
                document.querySelector('.background-edit').style.display = 'none';
            });
        </script>
        <h3>Here you can edit the recipient's data</h3>
        <form method="post">
            {% csrf_token %}
            <input class="modal-input" type="text" name="name_edit" value="Name" required>
            <input class="modal-input" type="text" name="mail_edit" value="e-mail adress" required>
            <input class="modal-input" type="hidden" name="id" value="hopefully_not_this_anymore">
            <input type="submit">
        </form>
    </div>
</div>

<div class="background-modal" id="search-window">
    <div class="modal-content">
        <div class="close" id="search-close">+</div>
        <script>
            document.getElementById("search-close").addEventListener('click',
            function() {
                document.getElementById("search-window").style.display = 'none';
            });
        </script>
        <div class="top_bar">
            <h1 style="padding-right: 4rem;">Searches</h1>
            <button style="align-self:flex-end;" name="add" class="header_button" onclick="add_search_callback()">
                <img style="background-color: red;" src="{% static 'sprites/add.svg' %}"></img>
            </button>
            <script>
                function add_search_callback(){
                    document.getElementById('edit-search-window').style.display = 'flex';
                }
            </script>
        </div>
        <div class="block" id="search-injection-div">
            <!--to be injected from js-->
        </div>
    </div> 
</div>

<div class="background-modal" id="edit-search-window">
    <div class="modal-content">
        <div class="close" id="edit-search-close">+</div>
        <script>
            document.getElementById("edit-search-close").addEventListener('click',
            function() {
                document.getElementById("edit-search-window").style.display = 'none';
            });
        </script>
        <div class="help" id="edit-search-help">?</div>
        <script>
            document.getElementById("edit-search-help").addEventListener('click',
            function(){
                document.getElementById('help-edit-search-window').style.display = 'flex';
            })
        </script>
        <h3>edit/add search</h3>
        <form>
            {%csrf_token%}
            <input type="hidden" name="id" value="new_id"><!--if the search is getting edited, the new_id will be replaced with the actual id-->
            <input class="modal-input" type="text" name="name" placeholder="Name" required>
            {% for filter in possible_filters %}
            <div id="filters" style="display:flex;justify-content:space-around;padding: 10px;">
                <h4>{{filter}}</h4>
                <input type="text" name="{{filter}}" style="padding-top: 0px;padding-bottom: 0px;">
            </div>
            {% endfor %}
            <input type="submit">
        </form>
    </div>
</div>

<div class="background-modal" id="help-edit-search-window">
    <div class="modal-content">
        <div class="close" id="help-edit-search-close">+</div>
        <script>
            document.getElementById("help-edit-search-close").addEventListener('click',
            function() {
                document.getElementById("help-edit-search-window").style.display = 'none';
            });
        </script>
        <h3>Help for edit/add search</h3>
        <h4>In this window you can add a new search, in name you type the new name of the search.</h4>
        <h4>And underneath name, there are all the filters that you can use. 
            If you want to use them simply check the checkbox or type the value for the keys in the box. 
            It will automatically detect which filters will be used and which not.
        </h4>
        <h4>specific info:<br>
            name-contains: if you want a tv, type tv<br>
            not-name-contains: tv brackets exist as well, type tv brackets (website is in dutch though so tv houder would be better)<br>
            inches-smaller: type the size that you want(only in numeric)<br>
            inches-bigger: same as smaller, but than for inches-bigger<br>
            discount-bigger: same, but than for discount (discount is e.g. -70% but you just need to type 70)<br>
            price-smaller: idem
        </h4>
</div>
        
{% endblock %}
